<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}Title{%endblock%}</title>
</head>
<body>
{% block header%}
{%if user.is_authenticated%}
<h4 align="right"><small>You are logined as:</small> {{user.username}}</h4>
<a href="{%url 'index'%}" style="float: right;">Home</a>
{%else%}
<br>
<a href="{%url 'sign_in'%}" style="float: right;">Sign in</a>
{%endif%}
<br>
{%endblock%}
{% block content %}
{% for el in feed %}
    <img src="{{el.photo}}">
    <h3>{{el.text}}</h3>
    <h5>{{el.date}}</h5>
    {{el.author}}
    <br>
{%endfor%}
{%endblock%}
</body>
</html>