<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}Hrostmy`s space{%endblock%}</title>
</head>
<body>
{% block header%}
    {%if user.is_authenticated%}
        <h4 align="right"><small>You are logined as:</small> <a href="{%url 'profile' username=user.username %}">{{user.username}}</a></h4>
        <a href="{%url 'index'%}" style="float: right;">Home</a>
        <br>
        <a href="{%url 'post_create'%}" style="float: right;">Add new post</a>
        <br>
        <a href="{%url 'logout'%}" style="float: right;">Log Out</a>
        {%else%}
            <br>
            <a href="{%url 'sign_in'%}" style="float: right;">Sign in</a>
    {%endif%}
    <br>
    <hr>
{%endblock%}

{% block content %}
{% for el in feed %}
    <img src="{{el.photo}}">
    <h3>{{el.text}}</h3>
    <h5>{{el.date}}</h5>
    <a href="{%url 'profile' username=el.author %}">{{el.author}}</a>
    <br>
<a href="{% url 'post_detail' el.id %}"><button>More...</button></a>
    <hr>
{%endfor%}
{%endblock%}
</body>
</html>