<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}Hrostmy`s space{%endblock%}</title>
</head>
<body>
{% block header%}
    {%if user.is_authenticated%}
        <h4 align="right"><small>You are logined as:</small> <a href="{%url 'profile' username=user.username %}">{{user.username}}</a></h4>
        <a href="{%url 'index'%}" style="float: right;">Home</a>
        <br>
        <a href="{%url 'user_feed' username=user.username%}" style="float: right;">My feed</a>
        <br>
        <a href="{%url 'post_create'%}" style="float: right;">Add new post</a>
        <br>
        <a href="{%url 'logout'%}" style="float: right;">Log Out</a>
        {%else%}
            <br>
            <a href="{%url 'sign_in'%}" style="float: right;">Sign in</a>
    {%endif%}
    <br>
    <hr>
{%endblock%}

{% block content %}
{% for el in object_list %}
    <img src="{{el.photo}}">
    <h3>{{el.text}}</h3>
    <h5>{{el.date}}</h5>
    <a href="{%url 'profile' username=el.author.username %}">{{el.author.username}}</a>
    <br>
    <br>
<a href="{% url 'post_detail' el.id %}"><button>More...</button></a>
    <hr>
{% empty %}
    <li>No articles yet.</li>
{%endfor%}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{page_obj.previous_page_number}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">next</a>
        <a href="?page={{page_obj.paginator.num_pages}}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{%endblock%}
</body>
</html>