<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}Creating new post{%endblock%}</title>
</head>
<body>
    {%if user.is_authenticated%}
        <h4 align="right"><small>You are logined as:</small> <a href="{%url 'profile' username=user.username %}">{{user.username}}</a></h4>
        <a href="{%url 'index'%}" style="float: right;">Home</a>
        <br>
        <a href="{%url 'post_create'%}" style="float: right;">Add new post</a>
        <br>
        <a href="{%url 'logout'%}" style="float: right;">Log Out</a>
        {%else%}
            <br>
            <a href="{%url 'sign_in'%}" style="float: right;">Sign in</a>
    {%endif%}
    <br>
    <hr>
{% block content %}
<h1> Creating new post </h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
<!--    {{ form.photo }}-->
<!--    {{ form.text }}-->
    <input type='file' placeholder='Add photo:' name="photo"><br>
    <input type='text' placeholder='Add text:' name="text"><br>
    <button type='submit'>Puplicate post</button>
    {%if error%}
    {{error}}
    {%endif%}
</form>

{%endblock%}
</body>
</html>