<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}Change post{%endblock%}</title>
</head>
<body>
{% block content %}
<h1> Changing post</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
<!--    {{ form.photo }}-->
<!--    {{ form.text }}-->
    <img src="{{object.photo}}">
    <input type='text' name="text" value="{{object.text}}"><br>
    <button type='submit'>Update</button>
    {%if error%}
    {{error}}
    {%endif%}
</form>

{%endblock%}
</body>
</html>