<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}Change post{%endblock%}</title>
</head>
<body>
{% block content %}
<h1> Changing post</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
<!--    {{ form.photo }}-->
<!--    {{ form.text }}-->
    <input type='file' placeholder='Add photo:' name="photo"><br>
    <input type='text' placeholder='Add text:' name="text"><br>
    <button type='submit'>Puplicate post</button>
    {%if error%}
    {{error}}
    {%endif%}
</form>

{%endblock%}
</body>
</html>